<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./StyleSheets/About.css">
    </head>
<header>
    <nav class = 'nv-1'>
            <li><a href="/" class="headerLogo">
            <img src="/images/WorkoutLogo.png" alt="Welcome">
            </a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/trainings/create">Book a Training</a></li> 
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/traininglist">View bookings</a></li>
    </nav>
</header>

