<%- include('partials/head') %>
 <br>
<br>
<div class="wrapper">
    <BR> <br>
    <h1><%= title %></h1>
    <head>
        <link rel="stylesheet" href="./StyleSheets/About.css">
    </head>

    <h1> Book Your personal trainer today!!</h1>

    <img src="./images/GymPhoto.jpg" alt="training_IMG" class="GymPhoto">
    <H3> A photo of our Top Teir Gym, Fully equiped for those intense workouts!</H3>

    <H3> We are a Personal trainer company based in cork! </H3>

    <H3> We are here to help people get their goals and fufill their life yay  </H3>

<%- include('partials/foot') %>
