<!DOCTYPE html>
<html>
    <nav>
        <%- include('partials/head') %>
    </nav>

    <head>
        <link rel="stylesheet" href="./StyleSheets/About.css">
    </head>
<body>
<div class="wrapper">
    <h1><%= title %></h1>
    <head>
        <link rel="stylesheet" href="./StyleSheets/About.css">
    </head> 
    <img src="/images/Training-project.png" alt="training_IMG" class="training_img">

    <h1> Book Your personal trainer today!!</h1>

<%- include('partials/foot') %>
